$bodyBgColor:#fff;
$bodyTextColor:#1A1A1A;
$mainFont:'Space Grotesk',
sans-serif;
$primaryColor: #6d8350;
$iconProfileBgColor: #6d835075;
$secondaryColor: #b26c4d;
$iconFriendsBgColor: #b26b4d79;
$iconSearchColor: rgb(161, 161, 161);